#message {
    height:500px;
    //background: #fff;
}

#message-list {
    width:20%;
    float: left;
    min-height: 500px;
}

#message-list #label {
    text-align: center;
    background: #333;
    color: #fff;
    padding: 5px 0;
}

#message-detail {
    width: 80%;
    float: right;
    min-height: 500px;
    position: relative;
    //background: yellow;
}

#message-detail #message-input {
    position: absolute;
    width: 99%;
    height:30px;
    left: 0;
    bottom: 0;
    background: #FFD9FF;
}

#lists {
    min-height: 470px;
    overflow-y: scroll;
    background: #fff;
}

.aktif {
    background: #CDCDFF;
}

.sender {
    border-bottom: solid 1px #ccc;
    cursor: pointer;
}

.sender:hover {
    background: #CDCDFF;
}

.sender .nama {
    font-size:13px;
    font-weight:bold;
}

.sender .tanggal {
    font-size:10px;
    color:#333;
}

#messages {
    position: absolute;
    width:100%;
    height: 470px;
    top:0;
    left:0;
    overflow-y: scroll;
    //background:red;
    background: #fff;
}

#messages .message {
    border-bottom: solid 1px #ccc;
    padding:5px 10px 5px 5px;
    text-align: justify;
}

#messages .message .photo {
    float: left;
    width:10%;
}

#messages .message .photo img {
    width:70px;
    height: 70px;
    margin:0;
    padding:0;
    outline:none;
}

#messages .message .text {
    float:right;
    width:90%;
}

.clear {
    clear: both;
}

#messages .message .date {
    font-size:10px;
    color:#ccc;
    text-align: right;
}


